<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metriek Stelsel Oefenen</title>
</head>
<body>
    <h1>Metriek Stelsel Oefenen<br><center> km hm dam m dm cm mm</center></h1>
    
    {% if resultaat %}
        <p><FONT COLOR="#00FF00"><center><H1>{{ resultaat }}</H1></center></FONT></p>
    {% endif %}
    <h3>
    <p>Huidige categorie: <strong>{{ categorie }}</strong></p>
    <p>Goede antwoorden: {{ scores[categorie] }}/10</p><br>
    
    <form method="POST">
        {% if bron_eenheid and doel_eenheid %}
            <p>Reken om: {{ waarde }} {{ bron_eenheid }} naar {{ doel_eenheid }}:</p>
            <input type="hidden" name="categorie" value="{{ categorie }}">
            <input type="hidden" name="bron_eenheid" value="{{ bron_eenheid }}">
            <input type="hidden" name="doel_eenheid" value="{{ doel_eenheid }}">
            <input type="hidden" name="waarde" value="{{ waarde }}">
            
            <label for="antwoord">Jouw antwoord:</label>
            <input type="number" step="any" id="antwoord" name="antwoord" required>
            <button type="submit" name="controleer">Controleer</button><hr><br>
        {% endif %}
    </form>
    
    <form method="POST">
        <button type="submit" name="start">Nieuwe Opdracht</button><hr>
        <button type="submit" name="reset">Begin Opnieuw</button><br></h3>
    </form>
</body>
</html>
